body{ 
	background-color:#C0C0C0
}
p{
	font-size:14px;
	letter-spacing:1px;
	line-height:25px; 
}
nav a{
	color:white;
}
td,th{
	border:1px solid black;
}
table{
	width:90%;
}
th{
	color:white;
	background-color:black;
}
.art{
	margin:0 auto;
	width:92%;
	margin:1% auto 1% auto;
	background-color:white;
	padding-top: 1%;
	padding-bottom:1%;
	padding-left: 2%;
	box-shadow: 5px 5px 5px #888888;
}
.pic{
	width:10%;
	border-style:groove;
	padding-top:1%;
	padding-bottom: 1%;
	padding-left: 1%;
	padding-right: 1%;
	text-align:center;
	margin-top:1%;
	margin-bottom:1%;
}
.art1{
	margin:0 auto;
	width:92%;
	height:60%;
	margin:2% auto 1% auto;
	background-color:white;
	padding-top: 1%;
	padding-bottom:1%;
	padding-left: 2%;
	box-shadow: 5px 5px 5px #888888;
}