*{
    margin:0; 
    padding:0;
    border:0;
}
@media (min-width:640px){
	.box{
    	display:flex;
    	flex-flow: row wrap;
    	align-items:center;
    	justify-content:space-between;
    	flex:none;
	}
	.bluediv{
		order:4;
		width:150px;
		height:200px;
		margin:20px;
		background-color:#0f0;
	}
	.reddiv1{
		order:1;
		width:150px;
		height:120px;
		margin:20px;
		background-color:#f00;
	}
	.reddiv2{
		order:2;
		width:150px;
		height:100px;
		margin:20px;
		background-color:#f00;
	}
	.reddiv3{
		order:3;
		width:150px;
		height:40px;
		margin:20px;
		background-color:#f00;
	}
}
@media (max-width:640px){
	.box{
    	display:flex;
    	align-items:flex-start;
    	flex-flow: row wrap;
    	justify-content:space-between;
    	flex:none;
	}
	.bluediv{
		order:1;
		width:150px;
		height:200px;
		margin:20px;
		background-color:#0f0;
	}
	.reddiv1{
		order:2;
		width:150px;
		height:120px;
		margin:20px;
		background-color:#f00;
	}
	.reddiv2{
		order:3;
		width:150px;
		height:100px;
		margin:20px;
		background-color:#f00;
	}
	.reddiv3{
		order:4;
		width:150px;
		height:40px;
		margin:20px;
		background-color:#f00;
	}
}