*{
	border:0;
	margin:0;
	padding:0;
}
body{	
	background-color:white;
}
body > div{
	box-sizing:border-box;
	float:left;
	border-radius:5px;
	margin: 10px 0;
	padding: 0 10px;
}
.lidiv{
	box-sizing:border-box;
	border:1px solid #999;
	background-color:#eee;
	height:50px;
}
@media (min-width: 768px){
	.col-md-1{
		width:8.3%;
	}
	.col-md-2{
		width:16.6%;
	}
	.col-md-3{
		width:24.9%;
	}
	.col-md-4{
		width:33.2%;
	}
	.col-md-6{
		width:49.8%;
	}
}

@media (max-width: 768px){
	.col-sm-2{
		width:16.6%;
	}
	.col-sm-3{
		width:24.9%;
	}
	.col-sm-6{
		width:49.8%;
	}
	.col-sm-8{
		width:66.4%;
	}
	.col-sm-12{
		width:99.6%;
	}
}