*{
	border:0;
	margin:0;
	padding:0;
}
body{	
	background-color:white;
}
div{
	float:left;
	border:1px solid #999;
	background-color:#eee;
	border-radius:5px;
	margin-left:20px;
	margin-top:20px;
	height:50px;
}
@media (min-width: 768px){
	.col-md-1{
		width:8%;
	}
	.col-md-2{
		width:16%;
	}
	.col-md-3{
		width:24%;
	}
	.col-md-4{
		width:32%;
	}
	.col-md-6{
		width:48%;
	}
}

@media (max-width: 768px){
	.col-sm-2{
		width:16.6%;
	}
	.col-sm-3{
		width:24.9%;
	}
	.col-sm-6{
		width:49.8%;
	}
	.col-sm-8{
		width:66.4%;
	}
	.col-sm-12{
		width:99.6%;
	}
}